**/.DS_Store
.DS_Store

**/__pycache__/
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/.cache

# Jupyter Notebook
**/*.ipynb_checkpoints
*.ipynb_checkpoints

# IPython
**/*.profile_default/
**/*.ipython_config.py
**/*.xlsx
**/*.png
**/*.parquet
*.xlsx
*.parquet

*.venv
**/*.venv

*.env
**/*.env